services:
  bita-mock-backend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - PORT=8080
      # - LOG_REQUESTS=true
    ports:
      - "8080:8080"
    restart: unless-stopped
